/* Estilo geral */
body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/fotoTCC.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

header {
    background-color: #96031A;
    height: 12vh;
    border-bottom: 10px black solid;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    color: #FAA916;
    text-shadow: 4px 4px 0 black;
}

section {
    display: flex;
    justify-content: space-between;
}

img{
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: 2px black solid;
    border-radius: 25%;
}

a:before {
    content: "";
    display: inline-block;
    background-color: #FAA916;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

ul {
    margin: 10px;
    list-style: none;
    display: flex;
}

li {
    margin: 10px;
    padding: 5px;
}

#banner {
    display: inline-block;
    font-family: 'Press Start 2P';
    margin-top: 85px;
    margin-left: 65px;
    padding: 50px;
    color: white;
    background-color: #3e3b3f;
    box-shadow: 10px 10px black;
    text-shadow: 2px 2px black;
}

#banner h1 {
    margin-bottom: 30px;
}